body {
	font-family: 'Open Sans', sans-serif; /*  font-weight: 400,600,800 */
}

#springydemo {
	z-index: 10;
	position:relative;
	/* border-bottom: 3px solid #9DAEC1;
	border-right: 3px solid #9DAEC1; */
	
}


#title-bar {
	z-index: 1000;
	background-color: #D8D5DB;
	border-bottom: 2px solid #020710;
	vertical-align: center;
	margin: 0px;
	padding: 20 0 0 10px;
	padding-left: 10px;
 	width: 100%;
}
#legend {
	z-index: 999;
	position: absolute; /*newly added*/
    left: 5px; /*newly added*/
    top: 5px;
	float: left;
	text-align: left;
	min-width: 180px; width: auto; height: auto;
	opacity: 0.8;
	padding: 20px; margin: 10px;
	border: 1px solid #020710;
	background-color: rgba(100,200,200, 0.15);
	border-radius: 10px;
}


.textBanner  {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px; font-weight: 800; 
}

.textSubtitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px; font-weight: 400;  line-height: 14px
}

.legend-square {
	border: 1px solid #333333;
	width: 30px;
	height: 30px;
}

.textHeader {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px; font-weight: 800;  line-height: 14px
}

.buttonbar {
	padding: 20 0 10 4px;
	margin-top: 12px;
	margin-bottom: 12px;
}
.container {
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}

.content {
	width: 1200px;
	overflow: hidden;
	position: relative;
	text-align:center;
	border: 2px solid gray;
	margin-left: auto; margin-right: auto;
	padding: 0px;
	margin: 0px;
}

ul {
	list-style-type: none;
	margin-left: -30px;
}

li {
	padding-left: 0px;
}


button {
	padding: 6px;
	font-size: 12px;
	font-weight: 600;
	border-radius: 5px;
	background-color: #FFF;
	border: 1px solid #333;
}
