body {
	font-family: 'Open Sans', sans-serif; /*  font-weight: 400,600,800 */
}

#springydemo {
	z-index: 10;
	position:relative;
	box-shadow: 0px 0px 2px 8px #333; 
  	-webkit-box-shadow: 0px 2px 8px #333; 
   	-ms-box-shadow: 0px 0px 2px #333;
   	-o-box-shadow: 0px 0px 2px 10px #333; 
	/* border-bottom: 3px solid #9DAEC1;
	border-right: 3px solid #9DAEC1; */
	
}
#legend {
	z-index: 999;
	position: absolute; /*newly added*/
    left: 5px; /*newly added*/
    top: 5px;
	float: left;
	text-align: left;
	min-width: 180px; width: auto; height: auto;
	opacity: 0.8;
	padding: 20px; margin: 10px;
	border: 1px solid #020710;
	background-color: rgba(100,200,200, 0.15);
	border-radius: 10px;
}

#title-bar {
	z-index: 20;
	background-color: #D8D5DB;
	border-bottom: 2px solid #020710;
	vertical-align: center;
	margin: 0px;
	padding: 20 0 0 10px;
	padding-left: 10px;
 	width: 100%;
}

.textBanner  {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px; font-weight: 800; 
}

.textSubtitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px; font-weight: 400;  line-height: 14px
}

.textHeader {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px; font-weight: 800;  line-height: 14px
}

.buttonbar {
	padding: 20 0 10 4px;
	margin-top: 12px;
	margin-bottom: 12px;
}
.container {
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}

button {
	padding: 6px;
	font-size: 12px;
	font-weight: 600;
	border-radius: 5px;
	background-color: #FFF;
	border: 1px solid #333;
}
.content {
	position: relative;
	text-align:center;
	border: 0px solid gray;
	margin-left: auto; margin-right: auto;
	padding: 0px;
	margin: 0px;
}